.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex: 1 1 1;

}

.header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 60%;
}

.header .logo-image {
    height: 50px;
    width: 50px;
}

.first {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.first .left-text {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.first .right-image {
    height: 50px;  
    width: 50px;
}

.second {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    text-align: center;
}

