body {
    outline: 2px solid black;
}

.header {
    background-color: #1f2937;
}

.footer {
    background-color: #1f2937;
    text-align: center;
}

.body-section.first {
    background-color: #1f2937;
    text-align: center;
}

.body-section.second {
    text-align: center;
}

.body-section.third {
    text-align: center;
    background-color: #E5E7EB;
}

div .child {
    outline: 1px solid red;
}

